@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 라이트 모드 기본 설정 */
  color: black; /* 기본 텍스트 색상 */
  background-color: white; /* 기본 배경색 */
}

html.dark body {
  /* 다크 모드 설정 */
  color: white !important; /* 다크 모드 텍스트 색상 */
  background-color: #111827 !important; /* Tailwind gray-900 배경 */
}

/* 코드 블록의 폰트 스타일 설정 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  * {
    @apply scrollbar-none;
  }
}
